.cabecalho{
    background-color: aqua;
    color:white
}
.principal{
    background-color: rgb(188, 102, 205);
    color: black;
}
.rodape{
    background-color: aliceblue;
    color:rgb(255, 0, 149);
    text-align:center;
}
#sol{
    width: 600px;
}